body {
    background-color: #FFC0CB;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  .container{
      margin-top: 50px;
        text-align: center;

  }

  

  h1 {
    color: black;
    font-size: 36px;
    margin-top: 160px;
  }

  h2 {
    color: white;
    font-size: 24px;
  }
  img{
    height: 150px;
    width: 50%;
    margin-left: 55px;
  }

